<h1>Home#index</h1>
<p>Hello, <%= current_user.email %></p>
<p>Here will list active auctions, my books and provide query operations.</p>
<%= link_to 'My books', books_path %>
| <%= link_to 'My activities', activities_path %>
